body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

canvas {
    background-color: yellow;
    border: 2px solid #ccc;
}