body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFD700;
}

#highscore-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black; /* Hintergrundfarbe */
    color: white; /* Schriftfarbe */
    z-index: 10; /* Überlagert das Canvas */
}

/* Überschrift zentriert */
#highscore-screen h2 {
    margin: 0;
    font-size: 3rem;
    text-align: center;
}

#highscore-screen {
display: none; 
}


/* Highscore-Liste anpassen */
#highscore-list {
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0;
    text-align: center;
    font-size: 1.5rem;
}

#highscore-list li {
    margin: 5px 0;
}

#fullscreenButton {
    position: fixed; /* Fixiert den Button auf dem Bildschirm */
    top: 50%; /* Zentriert den Button vertikal */
    left: 50%; /* Zentriert den Button horizontal */
    transform: translate(-50%, -50%); /* Verschiebt den Button exakt in die Mitte */
    font-size: 20px; /* Definiert die Schriftgröße */
    padding: 15px 30px; /* Definiert die Button-Größe */
    color: white; /* Weiße Schrift */
    border: none;
    border-radius: 5px; /* Abgerundete Ecken */
    cursor: pointer;
    z-index: 1000; /* Sicherstellen, dass der Button über anderen Elementen liegt */
}

